<% layout('layouts/boilerplate') %>

  <body>
    <link rel="stylesheet" href="/signup.css">
    <div class="container shadow-lg p-4 mt-5">
      <h2>Sign Up</h2>
      <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="form-group mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" class="form-control" required>
          <div class="invalid-feedback">Please enter a username.</div>
        </div>
        <div class="form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control" required>
          <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="form-group mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" class="form-control" required minlength="6">
          <div class="invalid-feedback">Password must be at least 6 characters long.</div>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>

      <div class="login-link mt-3">
        <span>Already have an account? <a href="/login">Login</a></span>
        <div class="g_id_signin mt-2" data-type="standard" data-size="large" data-theme="outline"
          data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
        </div>
      </div>
    </div>


    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload" data-client_id="641826541677-pr42otqf4vhdv8038ajtrpdmh7g6cfph.apps.googleusercontent.com"
      data-login_uri="http://localhost:8080/"></div>
  </body>