<% layout('layouts/boilerplate') %>
  <link rel="stylesheet" href="/homepage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/homepage.css">
  <div class="hero-wrapper">
    <div class="hero-content">
      <div class="image-container">
        <img src="/images/videocall image.avif" alt="People connecting through video call" loading="lazy">
      </div>

      <div class="text-container">
        <h3 class="mb-3">Connect to your loved ones with <strong>stream-web</strong></h3>
        <a href="/signup" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>